{% extends 'base.html' %}

{% block title %}index page{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        {% for blog in content %}
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">{{ blog.blog_title }}</h5>
            <p class="card-text">{{ blog.blog_content }}</p>
            <p  class="card-text">{{ blog.author.name }} --- {{ blog.date }}</p>
          </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}